<div>
    <div class="container mt-5">
        <p class="auth-head">Reset password</p>
        <form [formGroup]="setpasswordform" (ngSubmit)="getsetpassword()">

            
            <div class="mb-3">

                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                @if (setpasswordform.get('email')?.errors && setpasswordform.get('email')?.touched) {
                    <div class="alert alert-danger py-1" >
                        @if (setpasswordform.get('email')?.getError('required')){
                          <small class="p-0">Email is required</small>
                        }
                       @else if(setpasswordform.get('email')?.getError('email')){
                          <small class="p-0">enter valid mail</small>
                        }
                    </div>
                  }

            </div>
            <div>

                <input type="text" class="form-control" placeholder="New RePassword" formControlName="newPassword">
                @if (setpasswordform.get('newPassword')?.errors && setpasswordform.get('newPassword')?.touched) {
                    <div class="alert alert-danger py-1" >
                        @if (setpasswordform.get('newPassword')?.getError('required')){
                          <small class="p-0">Password is required</small>
                        }
                       @else if(setpasswordform.get('newPassword')?.getError('pattern')){
                          <small class="p-0"> password length should be at min 8 chars. With upper case letter and a number at least and (!,#,$,%,?,=,*,&)</small>
                        }
                    </div>
                  }
                <div class="text-end mt-3">
                  <a routerLink="/login">Recover Password?</a>
                    <small  ></small>



                </div>
            </div>

            <button class="btn btn-auth my-5 w-100">Login</button>

        </form>
    </div>
</div>

