<div>
    <div class="container mt-5">
        <p class="auth-head">Forget your password</p>
        <form [formGroup]="forgrtform" (ngSubmit)="getforget()">
            <div class="py-4">

                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                @if (forgrtform.get('email')?.errors && forgrtform.get('email')?.touched) {
                    <div class="alert alert-danger py-1" >
                        @if (forgrtform.get('email')?.getError('required')){
                          <small class="p-0">Email is required</small>
                        }
                       @else if(forgrtform.get('email')?.getError('email')){
                          <small class="p-0">enter valid mail</small>
                        }
                    </div>
                  }
            </div>

            <div>
                <div class="text-end mt-3">
                   <a >Recover Password?</a> 
                </div>
            </div>

            <button class="btn btn-auth my-5 w-100" >Login</button>

        </form>
    </div>
</div>

