<div class=" ">
    <div class="container py-5 vh-100">
        <div class="">
            <div class="d-flex w-100 justify-content-between  ">
                <div class="w-50 main-color py-5 top-round ps-5 main-shadow">
                    <p class="maintxt50">welcome to </p>
                    <p class="maintxt50 maintxt50-color">Elevate</p>
                    <p class="maintxt18">Quidem autem voluptatibus qui quaerat aspernatur <br> architecto natus</p>
                    <div class="pb-5">
                        <img src="./assets/images/bro.png" alt="">
                    </div>
                </div>
                <div class="  w-50 ">
                    <div class="w-75 ps-5">
                        <div class=" pt-5" >
                            <div class="d-flex justify-content-end ">
                                <select class="form-select select-width " aria-label="Default select example">
                                    <option selected>English</option>
                                    <option value="1">Arabic</option>

                                  </select>
                                  <div class="mt-1">
                                      <a routerLink="login" class="mx-3 text-decoration-none fw-bolder">signin</a>
                                      <a routerLink="register" class="text-decoration-none fw-bolder border rounded-4 p-2">Register</a>

                                  </div>

                            </div>
                        </div>
                        <div>
                            <router-outlet></router-outlet>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
